/* Typography */
body {
    text-wrap: balance;
    font-size: var(--fs-body);
    background-color: var(--clr-90);
    color: var(--clr-10);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-heading);
}
h1 {
    font-size: var(--fs-lg);
}
h2 {
    font-size: var(--fs-5);
}
h3 {
    font-size: var(--fs-4);
}
h4 {
    font-size: var(--fs-3);
}
h5 {
    font-size: var(--fs-2);
}
h6 {
    font-size: var(--fs-1);
}
p {
    font-size: var(--fs-2);
}

a {
    color: var(--clr-10);
    text-decoration: none;
}

a:hover {
    color: var(--clr-30);
}

.bold {
    font-weight: var(--fw-bold);
}
